.flex-container {
    display: flex;
    
}

.preview-header {
    text-align: center;
}

.editor-container {
    justify-content: center;
    text-align: center;
}

.flex-child {
    padding: 1em;
    flex: 1;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12);
}

.flex-child:first-child {
    margin-right: 2.5%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

textarea {
    box-sizing: border-box; /* fit parent width */
    height: 75%;
    width: 90%
}